# EditorConfig helps maintain consistent coding styles for multiple
# developers working on the same project across various editors and IDEs
# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.md]
indent_style = space
indent_size = 4

[src/**.{js,cjs,mjs,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2

[package.json]
indent_style = space
indent_size = 2

[public/{humans.txt,robots.txt}]
indent_style = tab

[CHANGELOG.md]
indent_size = false
